/* styles/global.css */
.hidden {
  display: none !important;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* Add any other global styles here */
