/* styles/global.css */
.hidden {
  display: none !important;
}
body {
  margin: 0;
  padding: 0;
  background-color: black; /* Ensure this is set to black */
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
